* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'DM Sans', sans-serif;
}

:root {
    /* Colors */    
    --color-primary: rgb(0, 20, 98);
    --color-secondary: rgb(106, 127, 219);
    --color-white: rgb(248, 247, 249);
    --color-black: rgb(26, 26, 26);
    --color-gray-100: rgb(207, 201, 195);
    --color-gray-400: rgb(70, 65, 60);
    --color-error: rgb(199, 51, 15);
    --color-error-light: rgb(255, 168, 146);

    /* Spaces (margin, padding) */
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-4: 1rem;
    --space-5: 1.5rem;
    --space-8: 2rem;

    --border-radius-small: 4px;
    --border-radius-medium: 6px;

    --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);

    /* Font sizes */
    --font-big: 3rem;
    --font-title: 2rem;
    --font-medium: 1.5rem;
    --font-regular: 1.125rem;
}

body {
    background-color: var(--color-white);
    font-size: var(--font-regular);
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: var(--space-4);
}

h1 {
    color: var(--color-secondary);
    margin-bottom: var(--space-5);
}

main {
    text-align: center;        
    margin: 6rem 0;
}

.btn {
    font: inherit;
    padding: var(--space-2) var(--space-4);
    background-color: var(--color-secondary);
    color: var(--color-white);
    border: 1px solid var(--color-secondary);
    border-radius: var(--border-radius-small);
    cursor: pointer;
}

#switch-form {
    margin-top: var(--space-4);
}

#switch-form a {
    padding: var(--space-2) var(--space-4);   
    border-radius: var(--border-radius-small);    
    color: var(--color-secondary);
}

.btn:hover,
.btn:active,
#switch-form a:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-white);    
}