<%- include("../../shared/includes/head", { title: "Cart" }) %>
</head>
<body>
    <%- include("../../shared/includes/header") %>
    <main>
        <h1>Cart</h1>
    </main>
<%- include("../../shared/includes/footer") %>